@media (width <= 1400px)

    .title
        @include fluid-text(34, 88)

    .hero
        &__body
            @include fluid-block(300, 950)

@media (width <= 1024px)

    .background
        &__box
            &_bottom
                background-position: -260px 0

    .header
        &__inner
            padding: 40px $padding-inline

    .hero
        padding-inline: $padding-inline
        &__header
            row-gap: 28px
            margin-bottom: 28px

    .preface
        font-size: 16px
        letter-spacing: 5px

@media (width <= 768px)

    .background
        &__box
            &_bottom
                background-position: -460px 0

    .desctop-hidden
        display: block

    .desctop-visible
        display: none

    .header
        &__inner
            padding-inline: $padding-inline-mobile

    .hero
        padding-inline: $padding-inline-mobile
        &__body
            width: 100%
        &__header
            row-gap: 18px
            margin-bottom: 18px

    .preface
        font-size: 14px
        letter-spacing: 4px