@media (width <= 1400px)

    .title
        @include fluid-text(34, 88)

    .subtitle
        @include fluid-text(28, 64)

    .hero
        &__body
            @include fluid-block(300, 950)

    .footer
        &__info
            column-gap: 106px

@media (width <= 1024px)

    .background
        &__box
            &_bottom
                background-position: -260px 0

    .header
        &__inner
            padding: 40px $padding-inline

    .hero
        padding-inline: $padding-inline
        &__header
            row-gap: 28px
            margin-bottom: 28px

    .preface
        font-size: 16px
        letter-spacing: 5px

    .main
        margin-top: 800px

    .section
        flex-direction: column-reverse
        row-gap: 120px
        &:nth-of-type(even) 
            flex-direction: column-reverse
        &:not(:first-child)
            margin-top: 120px
        &__info
            margin-left: 0
            &::before
                @include fluid-text(120, 240)
                bottom: 78%
                right: 88%

    .footer
        padding-block: 120px 50px
        &__body
            flex-direction: column
            align-items: center
            row-gap: 120px

@media (width <= 768px)

    .background
        &__box
            &_bottom
                background-position: -460px 0

    .desctop-hidden
        display: block

    .desctop-visible
        display: none

    .container
        padding-inline: $padding-inline-mobile

    .text
        font-size: 16px

    .header
        &__inner
            padding-inline: $padding-inline-mobile

    .hero
        padding-inline: $padding-inline-mobile
        &__body
            width: 100%
        &__header
            row-gap: 18px
            margin-bottom: 18px

    .preface
        font-size: 14px
        letter-spacing: 4px

    .section
        row-gap: 60px
        &__info
            &::before
                display: none

    .footer
        &__info
            flex-direction: column
            row-gap: 60px