$site-width: 1462px
$max-width-container: 1920px
$width-for-fluid: 1400

$padding-inline: 36px
$padding-inline-mobile: 18px

$z-index-behind-everything: -1


$c-lite: #FFF
$c-accent: #FBD784
$c-dark: #0B1D26


$font-family-main: Gilroy, sans-serif
$font-family-accent: 'Chronicle Display', sans-serif

