@charset "UTF-8";
/**
 * Нормализация блочной модели
 * */
*, ::before, ::after {
  box-sizing: border-box;
}

/**
 * Убираем внутренние отступы слева тегам списков,
 * у которых есть атрибут class
 * */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
 * Убираем внешние отступы body и двум другим тегам,
 * у которых есть атрибут class
 * */
body, :where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
 * Убираем внешние отступы вертикали нужным тегам,
 * у которых есть атрибут class
 * */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
 * Убираем стандартный маркер маркированному списку,
 * у которого есть атрибут class
 * */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
 * Обнуляем вертикальные внешние отступы параграфа
 * */
p {
  margin-block: 0;
}

/**
 * Упрощаем работу с изображениями
 * */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
 * Наследуем свойства шрифт для полей ввода
 * */
input, textarea, select, button {
  font: inherit;
}

/**
 * Пригодится в большинстве ситуаций
 * (когда, например, нужно будет "прижать" футер к низу сайта)
 * */
html {
  height: 100%;
}

/**
 * Плавный скролл
 * */
html,
:has(:target) {
  scroll-behavior: smooth;
}

/**
 * Пригодится в большинстве ситуаций
 * (когда, например, нужно будет "прижать" футер к низу сайта)
 * */
/**
 * Унифицированный интерлиньяж
 * */
body {
  min-height: 100%;
  line-height: 1.5;
}

/**
 * Приводим к единому цвету svg-элементы
 * */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
 * Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 * */
svg * {
  transition-property: fill, stroke;
}

/**
 * Удаляем все анимации и переходы для людей,
 * которые предпочитают их не использовать
 * */
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**
 * Упрощаем работу с ссылками
 * */
a {
  text-decoration: none;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/**
 * Сбрасываем стандартные стили кнопакам, у которых есть класс
 * */
:where(button[class]) {
  background-color: transparent;
  border: none;
  color: inherit;
}

/**
 *  убираем стандартную фокус-линию
 *  */    
:where(a, button) {
  outline: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chronicle Display";
  src: url("../fonts/ChronicleDisplay-Semi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.logo, .subtitle, .title {
  font-family: "Chronicle Display", sans-serif;
  font-weight: 600;
}

.text, .button, .link {
  font-size: 18px;
  font-weight: 700;
}

.button, .link {
  line-height: 1.2;
  white-space: nowrap;
}

.button_close, .button_menu {
  width: 40px;
  aspect-ratio: 1;
}

:where(a, button):focus-visible {
  background-color: #FBD784;
}

:where(a, button) {
  transition-duration: 0.3s;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.overflow-hidden {
  overflow: hidden;
}

.desctop-hidden {
  display: none;
}

.desctop-visible {
  display: block;
}

.is-hidden {
  display: none;
}

body {
  font-family: Gilroy, sans-serif;
  background-color: #0B1D26;
  color: #FFF;
  width: min(100%, 1920px);
  margin-inline: auto;
}

.container {
  max-width: 1534px;
  padding-inline: 36px;
  margin-inline: auto;
}

.title {
  font-size: 88px;
  line-height: 1.14;
  text-transform: capitalize;
}

.subtitle {
  font-size: 64px;
  line-height: 1.2;
}

.text {
  line-height: 1.77;
}
.text_vertical {
  writing-mode: vertical-lr;
}

@media (hover: hover) {
  .link:hover {
    color: #FBD784;
  }
}
@media (hover: none) {
  .link:active {
    color: #FBD784;
  }
}
.link_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

@media (hover: hover) {
  .button:hover {
    color: #FBD784;
  }
}
@media (hover: none) {
  .button:active {
    color: #FBD784;
  }
}
.button_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.button_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.button_close {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0px;
       column-gap: 0px;
  position: relative;
}

.logo {
  font-size: 32px;
  line-height: 1;
  letter-spacing: 1px;
}

.background {
  position: relative;
  margin-inline: auto;
  z-index: -1;
}
.background__box {
  position: absolute;
  width: min(100%, 1920px);
  background-repeat: no-repeat;
  background-position: left;
}
.background__box_top {
  background-image: linear-gradient(-12.53deg, rgba(11, 29, 38, 0) 31.055%, rgb(11, 29, 38) 108.93%), url(../img/top-bg.webp);
  height: 1513px;
  top: -400px;
  position: fixed;
}
.background__box_middle {
  background-image: url(../img/medium-bg.webp);
  height: 1422px;
  top: 350px;
  background-position: center;
  position: fixed;
}
.background__box_bottom {
  background-image: url(../img/bottom-bg.webp);
  height: 926px;
  top: 700px;
}
.background__box_bottom-gradient {
  background-image: linear-gradient(180deg, rgba(11, 29, 38, 0), rgb(11, 29, 38) 61.384%);
  height: 700px;
  top: 1070px;
}

.menu {
  position: absolute;
  inset: 0;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.menu__inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0;
       column-gap: 0;
  padding: 32px;
  position: relative;
}
.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}
.menu__link {
  display: block;
  padding-block: 10px;
  font-size: 22px;
}
.menu__button {
  font-size: 22px;
  margin-left: -40px;
}
.menu__button_close {
  position: absolute;
  top: 40px;
  right: 18px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 46px 80px;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.nav__link {
  padding-block: 18px;
  display: block;
}

.line {
  height: 3px;
  background-color: currentColor;
  width: 100%;
}
.line_close-icon {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  rotate: 45deg;
}
.line_close-icon-rotate-reverse {
  rotate: -45deg;
}

.social-media__inner {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
.social-media__inner_mobile {
  flex-direction: row;
  gap: 18px;
}
.social-media__link {
  display: flex;
}
@media (hover: hover) {
  .social-media__link:hover {
    color: #FBD784;
  }
}
@media (hover: none) {
  .social-media__link:active {
    color: #FBD784;
  }
}
.social-media_mobile {
  position: absolute;
  left: 18px;
  bottom: 18px;
}

.hero {
  margin-top: 198px;
  padding-inline: 80px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.hero__body {
  max-width: 950px;
  justify-self: center;
}
.hero__header {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 32px;
}

.preface {
  color: #FBD784;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 6px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 1.8em;
       column-gap: 1.8em;
}
.preface::before {
  content: "";
  display: block;
  width: 4em;
  height: 2px;
  background-color: #FBD784;
}

.main {
  margin-top: 700px;
  background: #0B1D26;
  background: linear-gradient(0deg, rgb(11, 29, 38) 90%, rgba(105, 108, 255, 0) 95%);
  counter-reset: number;
}

.section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  counter-increment: number;
}
.section:nth-of-type(even) {
  flex-direction: row-reverse;
}
.section:nth-of-type(even) > .section__body {
  justify-content: end;
}
.section:not(:first-child) {
  margin-top: 200px;
}
.section__body {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0;
       column-gap: 0;
}
.section__info {
  margin-left: 17%;
  max-width: 632px;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  align-items: start;
  position: relative;
}
.section__info::before {
  content: counter(number, decimal-leading-zero);
  color: #FFF;
  font-size: 240px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.1;
  position: absolute;
  bottom: 74%;
  right: clamp(250px, 30.1111111111vw, 542px);
}
.section__link {
  color: #FBD784;
}
@media (hover: hover) {
  .section__link:hover {
    color: #FFF;
  }
}
@media (hover: none) {
  .section__link:active {
    color: #FFF;
  }
}

@media (width <= 1400px) {
  .title {
    font-size: clamp(34px, 6.2857142857vw, 88px);
  }
  .subtitle {
    font-size: clamp(28px, 4.5714285714vw, 64px);
  }
  .hero__body {
    width: clamp(300px, 67.8571428571vw, 950px);
  }
}
@media (width <= 1024px) {
  .background__box_bottom {
    background-position: -260px 0;
  }
  .header__inner {
    padding: 40px 36px;
  }
  .hero {
    padding-inline: 36px;
  }
  .hero__header {
    row-gap: 28px;
    margin-bottom: 28px;
  }
  .preface {
    font-size: 16px;
    letter-spacing: 5px;
  }
  .main {
    margin-top: 800px;
  }
  .section {
    flex-direction: column-reverse;
    row-gap: 120px;
  }
  .section:nth-of-type(even) {
    flex-direction: column-reverse;
  }
  .section:not(:first-child) {
    margin-top: 120px;
  }
  .section__info {
    margin-left: 0;
  }
  .section__info::before {
    font-size: clamp(120px, 17.1428571429vw, 240px);
    bottom: 78%;
    right: 88%;
  }
}
@media (width <= 768px) {
  .background__box_bottom {
    background-position: -460px 0;
  }
  .desctop-hidden {
    display: block;
  }
  .desctop-visible {
    display: none;
  }
  .header__inner {
    padding-inline: 18px;
  }
  .hero {
    padding-inline: 18px;
  }
  .hero__body {
    width: 100%;
  }
  .hero__header {
    row-gap: 18px;
    margin-bottom: 18px;
  }
  .preface {
    font-size: 14px;
    letter-spacing: 4px;
  }
  .section {
    row-gap: 60px;
  }
  .section__info::before {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */